
.banner-large-cover:before {
  display: none !important;
}

.large-artcile-otr {
  margin-top: 100px;
  margin-bottom: 100px;
}
.large-artcile-otr .sm_titl {
  font: 600 24px/27px Poppins;
  color: #0E70D9;
}
.large-artcile-otr .title__lg {
  font: 600 42px/47px Poppins;
  color: #062D70;
  margin-bottom: 22px;
}
.large-artcile-otr p {
  font: normal 18px/42px Poppins;
  color: #2E4162;
}

.light-bl-bg {
  background: #F4F9FF;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub__title {
  color: #0E70D9;
  padding: 100px 0 60px;
  font: 600 42px/52px Poppins;
  text-align: center;
  display: block;
}
.sub__title span {
  color: #133A7D;
}

.grid__areas {
  background: #FFFFFF;
  border-radius: 45px;
  padding: 40px 50px 40px;
  margin-bottom: 40px;
}
.grid__areas .margn-bttom {
  margin-bottom: 0 !important;
}
.grid__areas .contents {
  margin-bottom: 40px;
}
.grid__areas .contents .title__md {
  color: #133A7D;
  font: 600 31px/52px Poppins;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.grid__areas .contents .title__md .hd_icon {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #288BF5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.grid__areas .contents p {
  color: #2E4162;
  font: normal 18px/37px Poppins;
  margin-bottom: 0;
}
.grid__areas .sp-d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grid__areas .article_bx {
  background: #EBF5FF;
  border-radius: 38px;
  margin-bottom: 30px;
  padding: 40px;
}
.grid__areas .article_bx .hdg_tp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 30px;
}
.grid__areas .article_bx .hdg_tp .hd_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #288BF5;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.grid__areas .article_bx .hdg_tp .hd-title {
  color: #133A7D;
  font: 600 32px/62px Poppins;
}
.grid__areas .article_bx .cnts p {
  color: #3F5375;
  font: normal 18px/37px Poppins;
}

.cstm__spc {
  padding: 100px 0;
}

.titles__area {
  font: 600 42px/50px Poppins;
  color: #0E70D9;
}
.titles__area span {
  color: #133A7D;
}

.vector_lft {
  margin-top: 50px;
  text-align: center;
}
.vector_lft img {
  max-width: 70%;
  width: 100%;
}

.odd_list_otr ul li {
  -webkit-margin-after: 35px;
          margin-block-end: 35px;
  list-style: none;
  position: relative;
  padding-left: 25px;
}
.odd_list_otr ul li:nth-child(odd):before {
  background-color: #0E70D9;
}
.odd_list_otr ul li:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #062D70;
  position: absolute;
  left: 0;
  top: 10px;
}
.odd_list_otr ul li strong {
  color: #00577E;
  font: 600 23px/34px Poppins;
  -webkit-margin-after: 12px;
          margin-block-end: 12px;
  display: inline-block;
}
.odd_list_otr ul li p {
  color: #566784;
  font: 300 18px/32px Poppins;
}

.sub-contents .contents {
  margin-bottom: 50px;
}
.sub-contents .hdg_tp {
  margin-bottom: 20px !important;
}

.sp-row.m-0 {
  margin: 0 !important;
}

.grid__areas .contents .title__md {
  margin-bottom: 15px;
}
@media (min-width:1680px){
  .banner-large-cover {
    height: 95vh;
    min-height: auto !important;
  }
}
@media (max-width: 1679px) {
  .grid__areas {
    border-radius: 30px;
    border-radius: 30px;
    padding: 30px 35px 30px;
    margin-bottom: 25px;
  }
  .large-artcile-otr {
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .large-artcile-otr .sm_titl {
    font: 600 21px/22px Poppins;
  }
  .large-artcile-otr .title__lg {
    font: 600 34px/41px Poppins;
    margin-bottom: 12px;
  }
  .large-artcile-otr p {
    font: normal 15px/32px Poppins;
  }
  .grid__areas .contents p {
    font: normal 15px/27px Poppins;
  }
  .grid__areas .article_bx .cnts p {
    font: normal 15px/27px Poppins;
  }
  .sub__title {
    padding: 50px 0 30px;
    font: 600 35px/45px Poppins;
  }
  .grid__areas .contents .title__md {
    font: 600 22px/33px Poppins;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .grid__areas .article_bx .hdg_tp img {
    width: 25px;
  }
  .sub-contents .contents {
    margin-bottom: 30px;
  }
  .grid__areas .article_bx .hdg_tp .hd_icon {
    width: 50px;
    height: 50px;
  }
  .grid__areas .article_bx .hdg_tp .hd_icon img {
    width: 25px;
  }
  .grid__areas .article_bx {
    border-radius: 28px;
    padding: 30px;
  }
  .grid__areas .article_bx .hdg_tp .hd-title {
    font: 600 22px/33px Poppins;
  }
  .grid__areas .article_bx .hdg_tp {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    margin-bottom: 10px;
  }
  .titles__area {
    font: 600 32px/38px Poppins;
  }
  .odd_list_otr ul li p {
    font: 300 15px/26px Poppins;
  }
  .odd_list_otr ul li strong {
    font: 600 21px/32px Poppins;
    -webkit-margin-after: 12px;
    margin-block-end: 5px;
  }
  .odd_list_otr ul li {
    -webkit-margin-after: 15px;
            margin-block-end: 15px;
  }
  .cstm__spc {
    padding: 60px 0;
  }
  .grid__areas .contents .title__md .hd_icon {
    width: 50px;
    height: 50px;
  }
  .grid__areas .contents .title__md .hd_icon img {
    width: 30px;
  }
}
@media (max-width: 1199px) {
  .light-bl-bg {
    padding: 0 15px;
  }
}
@media (max-width: 1023px) {
  .grid__areas .contents .title__md .hd_icon {
    width: 40px;
    height: 40px;
  }
  .grid__areas .contents .title__md .hd_icon img {
    width: 20px;
  }
  .large-artcile-otr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .large-artcile-otr .title__lg {
    font: 600 30px/35px Poppins;
  }
  .grid__areas {
    border-radius: 25px;
    padding: 20px;
    padding-top: 35px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .grid__areas .contents .title__md {
    font: 600 22px/30px Poppins;
  }
  .titles__area {
    font: 600 27px/33px Poppins;
  }
  .vector_lft img {
    max-width: 30%;
  }
  .cstm__spc {
    padding-left: 15px;
    padding-right: 15px;
  }
  .titles__area {
    text-align: center;
  }
  .cstm__spc {
    padding: 40px 15px;
  }
  .sub__title {
    padding: 30px 0 20px;
    font: 600 27px/35px Poppins;
  }
  .grid__areas .article_bx {
    border-radius: 15px;
    padding: 20px;
  }
  .grid__areas .article_bx .hdg_tp .hd_icon {
    width: 40px;
    height: 40px;
  }
  .grid__areas .article_bx .hdg_tp .hd_icon img {
    width: 20px;
  }
  .grid__areas .article_bx .hdg_tp .hd-title {
    font: 600 20px/27px Poppins;
  }
  .grid__areas .article_bx .hdg_tp {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
  .odd_list_otr ul li strong {
    font: 600 17px/33px Poppins;
    -webkit-margin-after: 12px;
    margin-block-end: 5px;
  }
  .odd_list_otr ul li {
    margin-bottom: 10px;
  }
  .odd_list_otr ul li:before {
    width: 10px;
    height: 10px;
  }
  .grid__areas .contents .title__md {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .grid__areas .article_bx .cnts p {
    margin-top: 15px;
  }
  .vector_lft img {
    max-width: 60%;
  }
  .sub__title {
    padding: 22px 0 20px;
    font: 600 22px/27px Poppins;
  }
  .titles__area {
    font: 600 22px/27px Poppins;
  }
  .cstm__spc {
    padding: 30px 15px;
  }
  .odd_list_otr ul li {
    padding-left: 15px;
  }
  .odd_list_otr ul li:before {
    width: 7px;
    height: 7px;
    top: 11px;
  }
  .odd_list_otr ul li strong {
    margin-bottom: 1px;
  }
  .grid__areas .article_bx {
    margin-bottom: 15px;
  }
  .grid__areas .article_bx .cnts p {
    font: normal 13px/23px Poppins;
  }
  .grid__areas .contents .title__md {
    font: 600 21px/28px Poppins;
  }
  .grid__areas {
    border-radius: 10px;
  }
  .grid__areas .contents p {
    font: normal 13px/27px Poppins;
  }
  .large-artcile-otr p {
    font: normal 13px/28px Poppins;
  }
  .grid__areas {
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .large-artcile-otr .title__lg {
    font: 600 22px/31px Poppins;
  }
  .large-artcile-otr .sm_titl {
    font: 600 17px/22px Poppins;
  }
  .large-artcile-otr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .odd_list_otr ul li p {
    font: 300 13px/22px Poppins;
  }
  .grid__areas .contents .title__md {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .grid__areas .contents .title__md {
    line-height: 21px !important;
  }
  .grid__areas .article_bx .hdg_tp {
    margin-bottom: 5px !important;
  }
}
@media (max-width: 479px) {
  .grid__areas .contents .title__md {
    margin-bottom: 10px;
  }
  .large-artcile-otr p, .grid__areas .contents p {
    line-height: 23px;
  }
  .odd_list_otr ul li strong {
    font: 600 15px/33px Poppins;
  }
}