
.block-chain-pro-otr{
    margin-top: 100px;
    padding-bottom: 100px;
}
.content__section{
    background: #F7F9FD;
    border-radius: 25px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 60px;
    padding-right: 60px;
   display: flex;
   margin-top: 53px;
   column-gap: 50px;
    .image-holder{
        max-width: 390px;
        flex-shrink: 0;
        flex: 0 0 390px;
        img{
            width: 100%;
        }
    }
  .text-wrapper{
    flex: 1 1 auto;
    
    .logo-project{
        margin-bottom: 25px;
        width: 170px;
        .dex-logo{
           
                width: 100px;
            
        }
     img{
        width: 100%;
     }
    }
    .para{
        p{
            font: normal normal 300 20px/37px Poppins;
            color: #141F33;
        }
    }

    .more-link{
 margin-top: 20px;
min-width: 370px;

        background: #3371D0;
    border-radius: 10px;
    height: 50px;
    padding: 5px 35px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    font: normal normal normal 17px/23px Poppins;
&:hover{
    opacity: 0.9;
}
    span{
        margin-left: auto;
    }

    }

  }
}

@media(max-width:1679px) {
    .content__section{
        margin-top: 30px;
        padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    }
    .content__section .text-wrapper .para p {
        font: normal normal 300 17px/30px Poppins;
    }
    .content__section .text-wrapper .logo-project {
        margin-bottom:17px;
        width: 130px;
    }
    .content__section .text-wrapper .more-link{
        font: normal normal normal 14px/17px Poppins;
    }
    .block-chain-pro-otr {
        margin-top: 60px;
        padding-bottom: 60px;
    }
}
@media(max-width:1199px) {

.content__section .image-holder{
    flex: 0 0 320px;
    max-width: 320px;
}
.content__section .text-wrapper .para p {
    font: normal normal 300 15px/27px Poppins;
}
}
@media(max-width:991px) {

    .content__section .image-holder {
    flex: 0 0 260px;
    max-width: 260px;
}
.content__section {
    padding: 40px;
    column-gap: 20px;
}
.content__section .text-wrapper .more-link{
    min-width: 300px;
}
}
@media(max-width:767px) {

.content__section{
  flex-direction: column;
  padding: 35px 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.content__section .image-holder {
    margin: 0 auto 20px;
}
.content__section .text-wrapper .para p {
    font: normal normal 300 14px/27px Poppins;
}
.block-chain-pro-otr {
    margin-top: 20px;
    padding-bottom: 50px;
}
.content__section .text-wrapper .more-link {
    margin-top: 10px;
}
}
@media(max-width:479px) {

.content__section .text-wrapper .more-link {
    min-width: 100%;
    padding: 5px 20px;
}
.content__section .image-holder{
    max-width: 100%;
    flex: 0 0 100%;
}
}