.chatgpt-video-bnr {
    align-items: flex-start !important;
  }
  
  .text-bnr {
    text-align: center;
    margin-top: 25px;
  }
  .service-banner-section {
  }
  .bg-light {
    background-color: #f2faff;
  }
  
  .banner-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Adjust the maximum width as per your preference */
    margin: 0 auto 50px;
    overflow: hidden;
    margin-top: -250px;
    z-index: 1;
    border-radius: 40px;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (modify if needed) */
    height: 0;
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .article-sec {
    padding-top: 15px;
    padding-bottom: 65px;
  
    .title_lg {
      color: #133a7d;
      font: 600 37px/50px Poppins;
      margin-bottom: 30px;
    }
  }
  .para p {
    font: normal normal normal 18px/42px Poppins;
    color: #2e4162;
    margin-bottom: 30px;
  }
  .article-sec .title_lg span {
    color: #06b2ff;
  }
  
  .sm-card {
    background: #009eff17 0% 0% no-repeat padding-box;
    border: 1px solid #009effbd;
    border-radius: 25px;
    padding: 40px 35px;
    margin-bottom: 100px;
    strong {
      font: 500 18px/42px Poppins;
      span {
        color: #06b2ff;
      }
    }
    p {
      margin-bottom: 0;
    }
  }
  
  @media (max-width: 1679px) {
    .article-sec {
      padding-top: 15px;
      padding-bottom: 40px;
    }
    .banner-container {
      width: 100%;
      max-width: 700px;
      margin: 0 auto 50px;
  
      margin-top: -190px;
    }
    .sm-card {
      margin-bottom: 50px;
    }
    .text-bnr {
      margin-top: 0px;
    }
    .article-sec .title_lg {
      font: 600 33px/45px Poppins;
      margin-bottom: 20px;
    }
    .para p {
      font: normal normal normal 16px/35px Poppins;
      color: #2e4162;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 1199px) {
    .article-sec {
      padding-top: 0;
    }
    .banner-container {
      width: 100%;
      max-width: 700px;
      margin: 50px auto 50px;
    }
    .article-sec .title_lg {
      font: 600 25px/34px Poppins;
      margin-bottom: 20px;
      br {
        display: none;
      }
    }
    .sub_hed {
      padding-bottom: 10px;
    }
  }
  
  @media (max-width: 767px) {
    .sm-card strong {
      font: 500 18px/32px Poppins;
    }
    .para p {
      font: normal normal normal 16px/30px Poppins;
      color: #2e4162;
      margin-bottom: 19px;
    }
    .sm-card {
      padding: 25px;
    }
    .sm-card {
      margin-bottom: 0px;
    }
    .sub_hed {
      margin-top: 15px;
    }
    .banner-container {
      margin: 30px auto 30px;
    }
    .banner-container {
      width: 100%;
      max-width: 500px;
    }
  }
  