

.horiz-tab{
    font-family: 'Poppins', sans-serif;
    .title-col{
        flex: 1;
        br{
            @media screen and (max-width: 640px){
                display: none;
            }
        }
    }
    .img-col{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            object-fit: contain;
            @media (max-width: 1679px){
                width: 240px;
            }
            @media (max-width: 1480px){
                width: 200px;
            }
            @media (max-width: 1199px){
                width: 160px;
            }
            @media (max-width: 991px){
                width: 100px;
            }
            @media (max-width: 767px){

            }
        }
    }

    .horiz-tab-title,
    .horiz-tab-btns{
        background-color: #dae4f366;
    }
    .flx-sm-reverse{
        @media screen and (max-width: 640px){
            flex-direction: column-reverse;
        }
        .title-col,
        .img-col{
            @media screen and (max-width: 640px){
                flex: 0 0 100%;
                max-width: 100%;

            }
        }
    }
    .horiz-tab-title{
        padding-top: 80px;
        padding-bottom: 80px;
        @media (max-width: 1679px){
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @media (max-width: 1480px){
            padding-top: 35px;
            padding-bottom: 35px;
        }

        @media (max-width: 991px){
            padding-top: 30px;
            padding-bottom: 20px;
        }
        @media (max-width: 767px){

        }
    }

    .title{
        color: #133A7D;
        font-size: 42px;
        font-weight: 600;
        @media (max-width: 1679px){
            font-size: 40px;
        }
        @media (max-width: 1480px){
            font-size: 35px;
        }
        @media (max-width: 1199px){
            font-size: 30px;
        }
        @media (max-width: 991px){
            font-size: 28px;
        }
        @media (max-width: 767px){
            font-size: 22px;
        }
        @media (max-width: 640px){
            margin-bottom: 0;
        }
        span{
            color: #06B2FF;
        }
    }
    .tab {
        overflow: hidden;
    }
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 27px 16px;
        transition: 0.3s;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        color: #133A7D;
        background-color: #DCE3EE;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: calc(33.333333333% - 5px);
        max-width: 276px;
        @media (max-width: 1679px){
            font-size: 22px;
            padding: 22px 16px;

        }
        @media (max-width: 1480px){
            font-size: 20px;
            padding: 20px 16px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
        @media (max-width: 1199px){
            font-size: 18px;
            padding: 18px 16px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        @media (max-width: 991px){
            font-size: 17px;
            padding: 17px 16px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        @media (max-width: 767px){
            font-size: 16px;
            padding: 16px 16px;
        }

        & + button{
            margin-left: 7px;
        }
        &:hover{
            background-color: #ffffff;
        }
        &.active{
            background-color: #ffffff;
        }
    }
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-top: none;
        padding-top: 100px;
        padding-bottom: 100px;
        @media (max-width: 1679px){
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @media (max-width: 1480px){
            padding-top: 35px;
            padding-bottom: 35px;
        }
        @media (max-width: 991px){
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .tabcontent_data{
            h3{
                color: #06B2FF;
                display: flex;
                align-items: center;
                font-size: 20px;
                margin-bottom: 0.8em;
                margin-top: 0;
                &:before{
                    content: '';
                    width: 11px;
                    height: 4px;
                    background-color: #06B2FF;
                    margin-right: 12px;
                    border-radius: 4px;
                }
            }
            p{
                color: #3F5375;
                font-size: 20px;
                line-height: 1.85;
            }

            h3,p{
                @media (max-width: 1679px){
                    font-size: 18px;
                }
                @media (max-width: 1480px){
                    font-size: 16px;
                }
                @media (max-width: 1199px){
                    font-size: 15px;
                }
                @media (max-width: 991px){
                    font-size: 14px;
                }
            }
        }
    }


    .section-digital-marketing-tabs{

        @media screen and (min-width: 640px){
            margin: 0;
            padding: 0;

        }

    }

    .horiz-tab-btns,
    .horiz-tab-tabconts{
        @media screen and (max-width: 639px){
            display: none !important;
        }
    }
    .mobAccordion{
        @media screen and (min-width: 640px){
            display: none !important;
        }
    }

    .faq-section.section-digital-marketing-tabs{
        background-color: rgba(218,228,243,0.4);
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header {
        background: transparent;
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list{
        background: #f6faff;
        border: none;
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon {
        position: relative;
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:after,
     .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:before {
        width: 12px;
        height: 2px;
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:after,
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:before {
        width: 12px;
        height: 2px;
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:after,
     .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:before {
        content: "";
        width: 16px;
        height: 4px;
        background-color: #133A7D;
        position: absolute;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:after,
     .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:before {
        width: 12px;
        height: 2px;
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header .accordion-icon:after{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-header.active .accordion-icon:after {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .faq-section.section-digital-marketing-tabs .accordion .accordion-list .accordion-body {
        background-color: #fff;
        padding-top: 20px;
    }
}
.mobAccordion{
    .tabcontent_data{
        display: block;
    }
    .accordion-body.show{
        flex-direction: column;
    }
.tabcontent_data h3{
    font-size: 14px;
    margin-bottom: 0.8em;
    margin-top: 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 15px;
    font-weight: 500;
}

.tabcontent_data h3 {
    color: #06B2FF;
}
.tabcontent_data h3:before {
    content: "";
    width: 11px;
    height: 2px;
    background-color: #06B2FF;
    margin-right: 12px;
    border-radius: 4px;
}
}
@media(max-width:767px){
    .horiz-tab .horiz-tab-title{
        padding-top: 10px;
    }
    .horiz-tab .faq-section.section-digital-marketing-tabs{
        padding-top: 0;
    }
    .section-digital-marketing-tabs{
        padding-left: 15px;
        padding-right: 15px;
    }
    .horiz-tab .img-col img{
        display: none;
    }
}