
.digital-marketing-content{
    margin-bottom: 70px;
    padding-top: 100px;
    .title-col{
        text-align: center;
        margin-bottom: 60px;
        .head {
            color: #133a7d;
            margin-bottom: 13px;
            font-family: poppins,sans-serif;
            font-weight: 600;
            font-size: 45px;
            margin-top: 0;
            span {
                color: #06b2ff;
            }
        }
    }
}

@media(max-width:1679px){
    .digital-marketing-content{
        margin-bottom: 65px;
    }
    .digital-marketing-content .title-col .head{
        font-size: 35px;
    }
    .digital-marketing-content{
        padding-top: 60px;
    }
}
@media(max-width:1199px){
.digital-marketing-content{
    padding-top: 45px;
}
.digital-marketing-content .title-col .head{
    font-size: 30px;
}
}
@media(max-width:991px){

.digital-marketing-content .title-col .head{
    font-size: 25px;
}
.digital-marketing-content .title-col{
    margin-bottom: 25px;
}
}
@media(max-width:767px){
    .digital-marketing-content .title-col{
        margin-bottom: 10px;
    }
    .digital-marketing-content .title-col .head{
        font-size:20px;
    }
    .digital-marketing-content{
        margin-bottom: 20px;
        padding-top: 25px;
    }

}