body{
    margin: 0;
    padding: 0;
}
.sp-container {
    width: 100%;
    max-width: 1300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1679px) {
    .sp-container {
        max-width: 1073px;
    }
}
@media (max-width: 1281px) {
    .sp-container {
        max-width: 1000px;
    }
}

@media (max-width: 992px) {
    .sp-container {
        max-width: 960px;
    }
}
@media (max-width: 768px) {
    .sp-container {
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .sp-container {
        max-width: 540px;
    }
}

.landing-wrap{
    min-height: 100vh;
    width: 100vw;
    background-color: #122f8a;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background: url(../img/intv-landing-bg.webp) no-repeat center/cover;
}
.intv-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.intv-header{
    padding-top: 70px;
    padding-bottom: 10px;
    @media screen and (max-width: 991px){
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .logo-wrap{
        display: flex;
        align-items: center;
        @media screen and (max-width: 991px){
            justify-content: center;
        }
    }
    .intv-logo-img{
        object-fit: contain;
        @media screen and (max-width: 991px){
            max-width: 140px;
        }
    }
}
.inv-img-col{
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 992px){
        padding-top: 60px;
    }
    @media screen and (max-width: 479px){
        display: none;
    }
}
.intv-cont{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 100px;
    @media screen and (max-width: 991px){
        flex-direction: column-reverse;
    }
    @media screen and (min-width: 480px) and (max-width: 991px){
        margin-top: 40px;
    }
    @media screen and (max-width: 479px){
         padding-bottom: 160px;
    }

    .landing-img{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        img{
            object-fit: contain;
            max-height: 60vh;
            @media screen and (max-width: 1679px){
                max-height: 50vh;
            }
            @media screen and (max-width: 991px){
                max-width: 240px;
                max-height: 20vh;
            }
            @media screen and (max-width: 640px){
                max-width: 160px;
            }
        }
    }
}
.inv-cont-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 991px){
        width: calc(100vw - 30px);
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 40px;
    }
    @media screen and (max-width: 479px){
        width: calc(100vw - 20px);
    }
}
.title{
    font-size: 36px;
    margin-bottom: 55px;
    @media screen and (max-width: 1679px){
        font-size: 32px;
        margin-bottom: 48px;
    }
    @media screen and (max-width: 1441px){
        font-size: 28px;
        margin-bottom: 40px;
    }
    @media screen and (max-width: 1200px){
        font-size: 24px;
        margin-bottom: 32px;
    }
    @media screen and (max-width: 991px){
        font-size: 20px;
    }
}
.form-wrap{
    max-width: 492px;
    position: relative;
    .intv-form{
        padding: 35px;
        background-color: #fff;
        border-radius: 40px;
        width: 100%;
        position: relative;
        z-index: 2;
        @media screen and (max-width: 1679px){
            padding: 30px;
            border-radius: 30px;
        }
        @media screen and (max-width: 1441px){
            padding: 25px;
            border-radius: 25px;
        }
        @media screen and (max-width: 479px){
            padding: 15px;
            border-radius: 15px;
        }

    }
    &:before{
        width: 97px;
        aspect-ratio: 0.763779;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background: url(../img/grid2.svg) center/contain;
        z-index: 1;
        transform: translate(-25%, -20%);
        @media screen and (max-width: 479px){
            width: 64px;
        }
    }
    &:after{
        aspect-ratio: 0.7640449;
        width: 68px;
        position: absolute;
        content: '';
        background: url(../img/grid1.svg)  center/contain;
        bottom: 0;
        right: 0;
        transform: translate(25%, 20%);
        @media screen and (max-width: 479px){
            width: 48px;
        }
    }
    @media screen and (max-width: 991px){
        max-width: 100%;
    }
    .subtitle{
        color: #292929;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        @media screen and (max-width: 1679px){
            font-size: 20px;
        }
        @media screen and (max-width: 1441px){
            font-size: 18px;
        }
        @media screen and (max-width: 991px){
            font-size: 16px;
        }
    }
    .form-inp-block{
        margin-top: 25px;
        color: #727272;
        font-size: 18px;
        font-weight: 400;
        position: relative;
        @media screen and (max-width: 1679px){
            font-size: 16px;
            margin-top: 18px;
        }
        @media screen and (max-width: 1441px){
            font-size: 14px;
            // margin-top: 14px;
        }
        @media screen and (max-width: 991px){
            font-size: 13px;
            // margin-top: 13px;
        }
        .error{
            color: #f00;
            position: absolute;
            top: 100%;
             display: none;
            font-size: 12px;
        }
        label{
            margin-bottom: 10px;
            font-size: 18px;
            @media screen and (max-width: 1679px){
                font-size: 16px;
                margin-bottom: 7px;
            }
            @media screen and (max-width: 1441px){
                font-size: 14px;
                margin-bottom: 6px;
            }
            @media screen and (max-width: 991px){
                font-size: 13px;
            }
        }
    }
    .otp-wrap{
        display: flex;
        gap: 13px;
        @media screen and (max-width: 991px) {
            gap: 8px;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0;
        }
        .form-inp{
            flex:  0 0 calc(16.66666% - 8px);
            max-width: calc(16% - 8px);
            padding-left: 5px;
            padding-right: 5px;
            text-align: center;
            @media screen and (max-width: 991px) {
                flex:  0 0 calc(16% - 5px);
                max-width: calc(16% - 5px);
            }
        }
    }
    .form-inp{
        border: 1px solid #E1E1E1;
        border-radius: 9px;
        padding: 5px 20px;
        min-height: 57px;
        font-size: 16px;
        outline: none !important;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        color: #727272;
        @media screen and (max-width: 1679px){
            min-height: 50px;
        }
        @media screen and (max-width: 1441px){
            min-height: 44px;
        }
        &::placeholder{
            color: #E1E1E1;
        }
        &:focus,
        &:focus-visible{
            border: 1px solid #cdcdcd;
        }
    }
    .submit-btn{
        background-color: #00B0FF;
        padding: 20px;
        border-radius: 100px;
        border: #00B0FF;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        position: relative;
        @media screen and (max-width: 1679px){
            padding: 15px;
        }
        @media screen and (max-width: 1441px){
            padding: 12px;
        }

        .loader-img{
            display: none;
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 28px;
        }
    }

}
.form-inp-block{
    display: flex;
    flex-direction: column;
}

.validation-msg{
    display: block;
    border-radius: 22px;
    font-size: 14px;
    padding:10px 15px;
    margin-top: 10px;
    .val-msg-wrp{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    img{
        width: 20px;
        object-fit: contain;
    }
    &.msg-success{
        background-color: #E5EFFF;
        color: #2B74C4;
    }
    &.msg-failed{
        background-color: #ffdcdb;
        color: #ff4d4d;
    }
}
.otp-resend{
    text-align: center;

}
.btn-link{
    color: #006BE8;
    border: none;
    padding: 0;
    background-color: transparent;
    font-weight: 600;
    font-size: inherit;
}

// modals
.modal-open {
    overflow: hidden;
    padding-right: 17px;
}
.modal{
    display:none;
    position:fixed;
    z-index:1001;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    color: #727272;
}
.modal-content{
    position:relative;
    background-color:#fefefe;
    margin: auto;
    padding:0;
    border:1px solid #888;
    width:80%;
    max-width: 1010px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    -webkit-animation-name:animatetop;
    -webkit-animation-duration:.4s;
    animation-name:animatetop;
    animation-duration:.4s;
    animation-delay: 0.2s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
}
.modal-header {
    display: flex;
}
.modal-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 991px){
        padding-bottom: 30px;
    }
}
.modal-header .close {
    font-weight: 300;
    font-family: poppins,sans-serif;
    font-size: 42px;
    color: #002272;
    margin-left: auto;
    line-height: 1;
}

.modal-contents{
    text-align: center;
    .modal-title{
        color: #1746B4;
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 15px;
        @media screen and (max-width: 1679px){
            font-size: 28px;
        }
        @media screen and (max-width: 1441px){
            font-size: 21px;
        }
        @media screen and (max-width: 1200px){
            font-size: 18px;
        }
    }
    p{
        margin-top: 0;
        font-size: 20px;
        @media screen and (max-width: 1679px){
            font-size: 18px;
        }
        @media screen and (max-width: 1441px){
            font-size: 16px;
        }
        @media screen and (max-width: 1200px){
            font-size: 14px;
        }
    }

    .btn-ok{
        background-color: #06B2FF;
        padding: 18px;
        font-size: 18px;
        width: 100%;
        max-width: 156px;
        border-radius: 38px;
        outline: none !important;
        border: none !important;
        color: #fff;
        @media screen and (max-width: 1679px){
            font-size: 16px;
            padding: 16px;
        }
        @media screen and (max-width: 1441px){
            font-size: 14px;
            padding: 14px;
        }
        @media screen and (max-width: 1200px){
            font-size: 13px;
            padding: 12px;
        }
    }
    .intv-modal-img{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;
    }
}

@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    }
    to{
        top:0;
        opacity:1
    }
}